input {
  width: 75%;
}

button {
  width: 25%;
}

#form-search :not(:last-child) {
  margin-right: calc(0.5rem);
}

#btn-current {
  background: #00a000;
  border-color: #00a000;
}

#btn-current:hover {
  background: #008700;
  border-color: #008700;
}

.section {
  margin: 0 auto 20px;
  max-width: 720px;
}

#icon {
  width: 100%;
}

.temperature-main {
  font-size: calc(4rem + 4vw);
  color: #003177;
  font-weight: 700;
}

.units {
  position: relative;
  top: calc(-1.7rem - 2.5vw);
}

.temperature-c,
.temperature-f,
.temperature-dush {
  font-size: calc(1.375rem + 0.9vw);
  color: #003177;
  font-weight: 500;
  transition: all 100ms ease-in-out;
}

.temperature-c:hover,
.temperature-f:hover {
  font-size: calc(1.375rem + 1.1vw);
  color: #00a000;
}

.weather-info_city {
  font-size: calc(1.375rem + 3vw);
  font-weight: 700;
}
.weather-info_country {
  font-size: calc(1.375rem + 0.5vw);
  font-weight: 300;
  font-style: italic;
}

.weather-info_update {
  font-size: calc(0.5rem + 0.7vw);
  color: #7f7f7f;
}

.weather-info_date {
  font-size: calc(1rem + 0.7vw);
  font-weight: 500;
  font-style: italic;
  color: #7f7f7f;
}
.weather-info_time {
  font-size: calc(1rem + 0.3vw);
  font-weight: 500;
  color: #7f7f7f;
}

th,
td {
  width: calc(100% / 3);
}

.weather-week {
  font-size: calc(1rem + 1vw);
}

.day-name {
  font-weight: 700;
}

.description_val {
  text-transform: capitalize;
}

.footer-link {
  text-align: center;
}
