.nigth {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(5, 5, 114, 1) 47%,
    rgba(140, 112, 255, 1) 100%
  );
  color: #f0f8ff;
}

input {
  width: 75%;
}

button {
  width: 25%;
}

.form-control {
  background: transparent;
}

.form-control::placeholder {
  color: #7f7f7f;
}

#form-search :not(:last-child) {
  margin-right: calc(0.5rem);
}

#btn-current {
  background: #00a000;
  border-color: #00a000;
}

#btn-current:hover {
  background: #008700;
  border-color: #008700;
}

.section {
  margin: 0 auto 20px;
  max-width: 720px;
}

#icon {
  width: 100%;
}

.temperature-main {
  font-size: calc(4rem + 4vw);
  color: #003177;
  font-weight: 700;
}

.temperature-main-nigth {
  color: #f0f8ff !important;
}

.units {
  position: relative;
  top: calc(-1.7rem - 2.5vw);
}

.temperature-c {
  font-size: calc(1.375rem + 0.9vw);
  font-weight: 500;
  transition: all 100ms ease-in-out;
}

.weather-info_city {
  font-size: calc(1.375rem + 3vw);
  font-weight: 700;
}
.weather-info_country {
  font-size: calc(1.375rem + 0.5vw);
  font-weight: 300;
  font-style: italic;
}

.weather-info_update {
  font-size: calc(0.5rem + 0.7vw);
  color: #7f7f7f;
}

.weather-info_date {
  font-size: calc(1rem + 0.7vw);
  font-weight: 500;
  font-style: italic;
  color: #7f7f7f;
}
.weather-info_time {
  font-size: calc(1rem + 0.3vw);
  font-weight: 500;
  color: #7f7f7f;
}

.table-nigth {
  background: transparent !important;
}

.td-nigth,
.th-nigth {
  color: #e2e2e2 !important;
}

th,
td {
  width: calc(100% / 3);
  background: transparent !important;
}

.weather-week {
  font-size: calc(1rem + 1vw);
}

.day-name {
  font-weight: 700;
}

.description_val {
  text-transform: capitalize;
}

.temp-day {
  font-size: calc(1rem + 1.3vw);
  font-weight: 700;
}

.temp-night {
  font-size: calc(1rem + 0.9vw);
}

.footer-link {
  text-align: center;
}
